<phpunit colors="true">
    <testsuites>
        <testsuite name="Conventional">
            <directory>test/TheSupport/Conventional</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>test/TheSupport/Utils</directory>
        </testsuite>
    </testsuites>
</phpunit>